[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0, <3"

[dev-packages]
flake8 = '>=3,<4'
httpretty = '<1'
mock = '>=3,<4'
codecov = '>=2,<3'
nose = '>=1,<2'
twine = "*"

[requires]
python_version = "3.7"
